/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spark-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sparks {
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.like-icon .heart .core {
  fill: var(--bg-color);
  display: inline-block;
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon .heart .main-body {
  fill: var(--bg-color);
  display: inline-block;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:hover .heart .core {
  fill: var(--heart-accent-color);
}

.like-icon:hover .heart .main-body {
  fill: var(--heart-accent-color);
}

.like-icon:not(:hover) .heart .main-body {
  fill: var(--bg-color);
  transition-delay: 0s;
}

.like-icon:not(:hover) .heart .core {
  fill: var(--bg-color);
  transition-delay: 0.03s;
}

.like-icon:active .heart .core {
  fill: var(--heart-main-color);
}

.like-icon:active .heart .main-body {
  fill: var(--heart-main-color);
}

.like-icon.is-liked .heart .core {
  fill: var(--heart-main-color);
}

.like-icon.is-liked .heart .main-body {
  fill: var(--heart-main-color);
}

.like-icon.is-liked .heart .contour {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in;
}

.like-icon.is-liked .sparks {
  animation: spark-animation 0.3s ease-in 0.3s;
}

.like-icon:not(.is-liked) .heart .contour {
  fill: var(--heart-contour);
  transition: fill 0.1s linear;
}
