/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --accent-font: "Press Start 2P", sans-serif;
    --main-font: "Inter-Variable", sans-serif;
    --accent-font-variation-setting: 400;
    --font-variation-settings: 400;
    --font-variation-settings-title: 700;
    --main-color: #000;
    --heart-accent-color: #000;
    --heart-main-color: #FF0000;
    --bg-color: #fff;
    --button-text-color: #fff;
    --heart-contour: #000;
    --bg-color-1: #e7e7e7;
    --bg-color-2: #1a1a1a;
    --line-color: #d3d3d3;
    --watermark-border: 1px 1px #fff;
    --background-image:
        repeating-linear-gradient(90deg, var(--line-color) 0 2px, transparent 2px 4px),
        repeating-linear-gradient(0deg, var(--line-color) 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, var(--bg-color-1) 0.01%, var(--bg-color-2) 100%)
}